In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import copy
import math

In [2]:
df = pd.read_csv("C:\\Users\\bimalgupta\\Desktop\\OTIS\\data\\final_df2_new1.csv",)

In [3]:
import copy
data_df = copy.copy(df)
df = data_df.iloc[0:,1:]

In [4]:
df['Date'] = pd.to_datetime(df['Date'],errors='raise')

In [5]:
# leat's crate one feature year
df["yr"] =  pd.DatetimeIndex(df['Date']).year

In [6]:
df.head()

       Symbol       Date  Close Price    yr
0  ADANIPORTS 2007-11-27       962.90  2007
1  ADANIPORTS 2007-11-28       893.90  2007
2  ADANIPORTS 2007-11-29       884.20  2007
3  ADANIPORTS 2007-11-30       921.55  2007
4  ADANIPORTS 2007-03-12       969.30  2007

In [7]:
# calculate return
df['Return']= abs(df['Close Price']/df['Close Price'].shift()-1)

In [8]:
df['Return1']= df['Close Price']/df['Close Price'].shift()-1

In [9]:
# lets check duplicate in the data
print("Toatl duplicate data in the data set:",df.duplicated(subset=None, keep='first').sum())
duplicateRowsDF = df[df.duplicated(subset=None, keep='first')]
print("Name of duplicate row:\n",duplicateRowsDF)
# drop duplicate row
df.dropna(axis=0,inplace=True)

Toatl duplicate data in the data set: 0
Name of duplicate row:
 Empty DataFrame
Columns: [Symbol, Date, Close Price, yr, Return, Return1]
Index: []

In [10]:
# copy the data
np.random.seed(5)
data = copy.copy(df)

In [11]:
data.head()

       Symbol       Date  Close Price    yr    Return   Return1
1  ADANIPORTS 2007-11-28       893.90  2007  0.071659 -0.071659
2  ADANIPORTS 2007-11-29       884.20  2007  0.010851 -0.010851
3  ADANIPORTS 2007-11-30       921.55  2007  0.042242  0.042242
4  ADANIPORTS 2007-03-12       969.30  2007  0.051815  0.051815
5  ADANIPORTS 2007-04-12      1041.45  2007  0.074435  0.074435

In [12]:
data.shape

(218568, 6)

In [13]:
# drop 1st row of the each company 
def mask_first(x):
    result = np.ones_like(x)
    result[0] = 0
    return result

mask = data.groupby('Symbol')['Symbol'].transform(mask_first).astype(bool)
data=data.loc[mask]

In [14]:
data.shape

(218518, 6)

data.head()

# Create Data Dict 
     Data Dictionary of the each comapny

In [15]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
Company_name=list(data.Symbol.unique())
import xlsxwriter

In [16]:
data_disc = []
data_name = []
for row in Company_name:
    data_as = data[data['Symbol']==row]
    print('='*50+'Data information of ' + str(row)+'='*50)
    print(data_as.info(),'\n')
    print('='*50+"Data discription of "+ str(row)+'='*50 )
    print(str(row)+ ':\n' ,data_as.drop('yr',axis=1).describe())
    data_disc.append(data_as.drop('yr',axis=1).describe()) 
    data_name.append(row)

==================================================Data information of ADANIPORTS==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2823 entries, 2 to 2824
Data columns (total 6 columns):
Symbol         2823 non-null object
Date           2823 non-null datetime64[ns]
Close Price    2823 non-null float64
yr             2823 non-null int64
Return         2823 non-null float64
Return1        2823 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 154.4+ KB
None

==================================================Data discription of ADANIPORTS==================================================
ADANIPORTS:
        Close Price       Return      Return1
count  2823.000000  2823.000000  2823.000000
mean    184.661456     0.019600     0.000309
std     256.916229     0.026130     0.032665
min      21.600000     0.000000    -0.960430
25%      30.885000     0.006040    -0.014248
50%      61.300000     0.014282    -0.000195
75%      86.360000     0.026469     0.014354
max    1307.450000     0.960430     0.200022
==================================================Data information of ASIANPAINT==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 2826 to 7887
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of ASIANPAINT==================================================
ASIANPAINT:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    400.607749     0.012645     0.000683
std     484.576466     0.021928     0.025304
min      16.333333     0.000000    -0.990021
25%      54.932812     0.003664    -0.007770
50%     207.119792     0.008567     0.000138
75%     434.175000     0.016675     0.009593
max    2172.125000     0.990021     0.107546
==================================================Data information of AXISBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 7889 to 12950
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of AXISBANK==================================================
AXISBANK:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    456.396632     0.020152     0.001295
std     498.499171     0.024801     0.031931
min      12.000000     0.000000    -0.960181
25%      79.575000     0.005910    -0.013076
50%     143.700000     0.013596     0.000000
75%     922.500000     0.027192     0.014180
max    2023.350000     0.960181     0.251337
==================================================Data information of BAJAJ-AUTO==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2704 entries, 12952 to 15655
Data columns (total 6 columns):
Symbol         2704 non-null object
Date           2704 non-null datetime64[ns]
Close Price    2704 non-null float64
yr             2704 non-null int64
Return         2704 non-null float64
Return1        2704 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 147.9+ KB
None

==================================================Data discription of BAJAJ-AUTO==================================================
BAJAJ-AUTO:
        Close Price       Return      Return1
count  2704.000000  2704.000000  2704.000000
mean   2032.314479     0.013665     0.000855
std     717.829078     0.016596     0.021483
min     301.900000     0.000000    -0.506039
25%    1574.112500     0.004368    -0.008787
50%    2054.775000     0.009571     0.000120
75%    2648.537500     0.018029     0.010508
max    3412.950000     0.506039     0.121950
==================================================Data information of BAJAJFINSV==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2703 entries, 15657 to 18359
Data columns (total 6 columns):
Symbol         2703 non-null object
Date           2703 non-null datetime64[ns]
Close Price    2703 non-null float64
yr             2703 non-null int64
Return         2703 non-null float64
Return1        2703 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 147.8+ KB
None

==================================================Data discription of BAJAJFINSV==================================================
BAJAJFINSV:
        Close Price       Return      Return1
count  2703.000000  2703.000000  2703.000000
mean   1697.371323     0.016903     0.001272
std    1792.450299     0.017845     0.024549
min      90.750000     0.000000    -0.199959
25%     498.275000     0.004849    -0.010779
50%     748.550000     0.011422     0.000075
75%    2403.431818     0.023421     0.012341
max    7019.318182     0.200068     0.200068
==================================================Data information of BAJFINANCE==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4994 entries, 18361 to 23354
Data columns (total 6 columns):
Symbol         4994 non-null object
Date           4994 non-null datetime64[ns]
Close Price    4994 non-null float64
yr             4994 non-null int64
Return         4994 non-null float64
Return1        4994 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 273.1+ KB
None

==================================================Data discription of BAJFINANCE==================================================
BAJFINANCE:
        Close Price       Return      Return1
count  4994.000000  4994.000000  4994.000000
mean    514.922617     0.018991     0.001452
std     906.831666     0.025758     0.031970
min      24.500000     0.000000    -0.989794
25%      58.757812     0.005403    -0.011628
50%     169.337500     0.012541     0.000118
75%     481.539062     0.024479     0.013420
max    6149.792613     0.989794     0.200510
==================================================Data information of BHARTIARTL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4276 entries, 23356 to 27631
Data columns (total 6 columns):
Symbol         4276 non-null object
Date           4276 non-null datetime64[ns]
Close Price    4276 non-null float64
yr             4276 non-null int64
Return         4276 non-null float64
Return1        4276 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 233.8+ KB
None

==================================================Data discription of BHARTIARTL==================================================
BHARTIARTL:
        Close Price       Return      Return1
count  4276.000000  4276.000000  4276.000000
mean    270.805105     0.017497     0.000690
std     237.993307     0.020598     0.027019
min      20.750000     0.000000    -0.744534
25%     153.900000     0.005631    -0.012160
50%     176.087500     0.012630    -0.000290
75%     242.093750     0.023495     0.013185
max    1125.650000     0.744534     0.254235
==================================================Data information of BPCL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 27633 to 32694
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of BPCL==================================================
BPCL:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    175.038839     0.019979     0.000352
std      87.341754     0.026931     0.033532
min      21.433333     0.000000    -0.756548
25%      95.956250     0.006217    -0.013532
50%     175.312500     0.014144     0.000034
75%     225.412500     0.026316     0.014753
max     439.900000     0.756548     0.178251
==================================================Data information of BRITANNIA==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5061 entries, 32696 to 37756
Data columns (total 6 columns):
Symbol         5061 non-null object
Date           5061 non-null datetime64[ns]
Close Price    5061 non-null float64
yr             5061 non-null int64
Return         5061 non-null float64
Return1        5061 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of BRITANNIA==================================================
BRITANNIA:
        Close Price       Return      Return1
count  5061.000000  5061.000000  5061.000000
mean    532.004112     0.012550     0.000431
std     361.654550     0.021926     0.025261
min      44.846667     0.000000    -0.954527
25%     310.553333     0.003528    -0.008218
50%     433.166667     0.008497    -0.000088
75%     807.733333     0.016329     0.008930
max    1592.000000     0.954527     0.158055
==================================================Data information of CIPLA==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 37758 to 42819
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of CIPLA==================================================
CIPLA:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    159.788970     0.015394     0.000094
std     420.552603     0.027713     0.031702
min       4.269333     0.000000    -0.842487
25%       8.667000     0.004478    -0.009658
50%      15.201333     0.010257    -0.000134
75%     243.350000     0.019432     0.010837
max    4984.400000     0.842487     0.107583
==================================================Data information of COALINDIA==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2100 entries, 42821 to 44920
Data columns (total 6 columns):
Symbol         2100 non-null object
Date           2100 non-null datetime64[ns]
Close Price    2100 non-null float64
yr             2100 non-null int64
Return         2100 non-null float64
Return1        2100 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 114.8+ KB
None

==================================================Data discription of COALINDIA==================================================
COALINDIA:
        Close Price       Return      Return1
count  2100.000000  2100.000000  2100.000000
mean    316.837452     0.012893     0.000006
std      44.834731     0.012045     0.017646
min     213.700000     0.000000    -0.101272
25%     283.087500     0.004357    -0.009588
50%     315.975000     0.009590     0.000000
75%     351.487500     0.018015     0.009582
max     443.400000     0.126086     0.126086
==================================================Data information of DRREDDY==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 44922 to 49983
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of DRREDDY==================================================
DRREDDY:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    586.609031     0.015527     0.000527
std     349.128111     0.021617     0.026611
min      93.500000     0.000000    -0.752564
25%     376.806250     0.004439    -0.009651
50%     510.856250     0.010276     0.000510
75%     730.809375     0.019997     0.011122
max    2000.850000     0.752564     0.173951
==================================================Data information of EICHERMOT==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5057 entries, 49985 to 55041
Data columns (total 6 columns):
Symbol         5057 non-null object
Date           5057 non-null datetime64[ns]
Close Price    5057 non-null float64
yr             5057 non-null int64
Return         5057 non-null float64
Return1        5057 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.6+ KB
None

==================================================Data discription of EICHERMOT==================================================
EICHERMOT:
         Close Price       Return      Return1
count   5057.000000  5057.000000  5057.000000
mean    5794.363654     0.019764     0.001910
std     9480.485088     0.022645     0.029997
min       11.000000     0.000000    -0.182609
25%      196.400000     0.005374    -0.012494
50%      375.700000     0.012842     0.000000
75%     5547.450000     0.025932     0.013393
max    32861.950000     0.240000     0.240000
==================================================Data information of GAIL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4741 entries, 55043 to 59783
Data columns (total 6 columns):
Symbol         4741 non-null object
Date           4741 non-null datetime64[ns]
Close Price    4741 non-null float64
yr             4741 non-null int64
Return         4741 non-null float64
Return1        4741 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 259.3+ KB
None

==================================================Data discription of GAIL==================================================
GAIL:
        Close Price       Return      Return1
count  4741.000000  4741.000000  4741.000000
mean    217.460172     0.016524     0.000483
std      92.284453     0.020847     0.026598
min      43.500000     0.000000    -0.573641
25%     141.566667     0.005024    -0.011046
50%     231.300000     0.011279     0.000000
75%     275.500000     0.021890     0.011489
max     543.600000     0.573641     0.320078
==================================================Data information of GRASIM==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 59785 to 64846
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of GRASIM==================================================
GRASIM:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean   1670.679565     0.016247     0.000719
std    1276.881111     0.021638     0.027050
min     109.250000     0.000000    -0.959088
25%     309.562500     0.004754    -0.010572
50%    1556.375000     0.011045     0.000046
75%    2697.537500     0.021195     0.011613
max    5286.100000     0.959088     0.166951
==================================================Data information of HCLTECH==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4802 entries, 64848 to 69649
Data columns (total 6 columns):
Symbol         4802 non-null object
Date           4802 non-null datetime64[ns]
Close Price    4802 non-null float64
yr             4802 non-null int64
Return         4802 non-null float64
Return1        4802 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 262.6+ KB
None

==================================================Data discription of HCLTECH==================================================
HCLTECH:
        Close Price       Return      Return1
count  4802.000000  4802.000000  4802.000000
mean    210.831224     0.020838     0.000307
std     301.086882     0.028511     0.035314
min      22.425000     0.000000    -0.755887
25%      96.556250     0.005748    -0.012960
50%     120.318750     0.013864     0.000695
75%     193.284375     0.026134     0.014557
max    2819.150000     0.755887     0.187909
==================================================Data information of HDFC==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 69651 to 74712
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of HDFC==================================================
HDFC:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    489.960317     0.016527     0.000616
std     508.871661     0.026424     0.031161
min      58.915000     0.000000    -0.958710
25%     121.288750     0.005167    -0.010924
50%     284.275000     0.011470     0.000010
75%     668.512500     0.021526     0.012053
max    2789.950000     0.958710     0.224730
==================================================Data information of HDFCBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 74714 to 79775
Data columns (total 6 columns):
Symbol         5062 non-null object
Date           5062 non-null datetime64[ns]
Close Price    5062 non-null float64
yr             5062 non-null int64
Return         5062 non-null float64
Return1        5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 276.8+ KB
None

==================================================Data discription of HDFCBANK==================================================
HDFCBANK:
        Close Price       Return      Return1
count  5062.000000  5062.000000  5062.000000
mean    575.920508     0.014332     0.001086
std     599.769638     0.020680     0.025138
min      50.250000     0.000000    -0.959840
25%     204.250000     0.004099    -0.008815
50%     274.475000     0.009432     0.000275
75%     781.187500     0.018260     0.010150
max    2565.800000     0.959840     0.258174
==================================================Data information of HEROMOTOCO==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 79777 to 84838

In [17]:
writer = pd.ExcelWriter('C:\\Users\\bimalgupta\\Desktop\\OTIS\\Code\\discriptive_data_dict.xlsx', engine='xlsxwriter')
for name,df in zip(data_name,data_disc):
    df.to_excel(writer, sheet_name='Data dicription '+name)
writer.save()

In [18]:
B_data = copy.copy(data)

In [19]:
#total number of bins
b= [0,0.01,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,2]

In [20]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
B_data['binned']=pd.cut(x=B_data['Return'], bins=b,labels=l)

In [21]:
B_data.head()

       Symbol       Date  Close Price    yr    Return   Return1 binned
2  ADANIPORTS 2007-11-29       884.20  2007  0.010851 -0.010851      2
3  ADANIPORTS 2007-11-30       921.55  2007  0.042242  0.042242      2
4  ADANIPORTS 2007-03-12       969.30  2007  0.051815  0.051815      3
5  ADANIPORTS 2007-04-12      1041.45  2007  0.074435  0.074435      3
6  ADANIPORTS 2007-05-12      1082.45  2007  0.039368  0.039368      2

In [22]:
# create the bins for return
pivot_n= B_data.pivot_table(index=['Symbol'],values=["Return"],columns=['binned'],aggfunc=lambda x: len(x.unique()))
pivot_n.fillna(0,inplace=True)

In [23]:
# total 
pivot_n.columns = [col[1] for col in pivot_n.columns]
pivot_n['tot'] = pivot_n[list(pivot_n)].sum(axis=1)

In [24]:
pivot_n.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,tot
Symbol,,,,,,,,,,,,,,,,,,,,,
ADANIPORTS,1063.0,1549.0,166.0,12.0,3.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2796.0
ASIANPAINT,2776.0,2145.0,98.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5025.0
AXISBANK,1868.0,2662.0,352.0,16.0,8.0,4.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4912.0
BAJAJ-AUTO,1386.0,1253.0,53.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2699.0
BAJAJFINSV,1220.0,1350.0,115.0,5.0,5.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2696.0

In [25]:
pivot_n.tail()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,tot
Symbol,,,,,,,,,,,,,,,,,,,,,
UPL,1471.0,2090.0,180.0,9.0,5.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,3759.0
VEDL,1579.0,2834.0,516.0,53.0,8.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4994.0
WIPRO,2168.0,2479.0,338.0,36.0,9.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,5038.0
YESBANK,1259.0,1877.0,223.0,22.0,1.0,4.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3390.0
ZEEL,1786.0,2723.0,446.0,40.0,15.0,2.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5017.0

In [26]:
# z_score should be by each comapny

In [27]:
# Z_score of each comapny
# create the bins for Z-Score
dict_company = {} # 
#data_frame_list = []
new_df = pd.DataFrame()
from scipy import stats
for row in Company_name:
    B_data1 = B_data.loc[B_data['Symbol']==row]
    B_data1['Return_Zscore'] = stats.zscore(B_data1['Return1'])
    #B_data1['Return_Zscore'] =return_zscore # B_data1 contain Z_score of each comapny
    new_df=new_df.append(B_data1)
    #dict_company[row] = (return_zscore.min(), return_zscore.max())

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [28]:
# let's create the bins for the Z_score
B= [-50,-10,-5,0,5,10,15,] # bins
L = [i for i in range(1,len(B))] # label

In [29]:
len(B), len(L)

(7, 6)

In [30]:
new_df['binned_Zscore']= pd.cut(x=new_df['Return_Zscore'], bins=B,labels=L)

In [31]:
new_df.head()

,Symbol,Date,Close Price,yr,Return,Return1,binned,Return_Zscore,binned_Zscore
2,ADANIPORTS,2007-11-29,884.20,2007,0.010851,-0.010851,2,-0.341722,3
3,ADANIPORTS,2007-11-30,921.55,2007,0.042242,0.042242,2,1.283939,4
4,ADANIPORTS,2007-03-12,969.30,2007,0.051815,0.051815,3,1.577066,4
5,ADANIPORTS,2007-04-12,1041.45,2007,0.074435,0.074435,3,2.269681,4
6,ADANIPORTS,2007-05-12,1082.45,2007,0.039368,0.039368,2,1.195959,4

In [32]:
pivot_z= new_df.pivot_table(index=['Symbol'],values=['Return_Zscore'],columns=['binned_Zscore'],aggfunc=lambda x: len(x.unique()))

In [33]:
pivot_z.fillna(0,inplace=True)

In [34]:
pivot_z.head()

              Return_Zscore
binned_Zscore             1    2       3       4    5    6
Symbol
ADANIPORTS              1.0  1.0  1426.0  1368.0  4.0  0.0
ASIANPAINT              3.0  1.0  2615.0  2411.0  0.0  0.0
AXISBANK                1.0  1.0  2583.0  2342.0  8.0  0.0
BAJAJ-AUTO              1.0  2.0  1400.0  1295.0  2.0  0.0
BAJAJFINSV              0.0  2.0  1433.0  1259.0  4.0  0.0

In [35]:
# sum of each company return_zscore count
pivot_z.columns = [col[1] for col in pivot_z.columns]
pivot_z['Total'] = pivot_z[list(pivot_z)].sum(axis=1)

In [36]:
pivot_z.head()

              1    2       3       4    5    6   Total
Symbol
ADANIPORTS  1.0  1.0  1426.0  1368.0  4.0  0.0  2800.0
ASIANPAINT  3.0  1.0  2615.0  2411.0  0.0  0.0  5030.0
AXISBANK    1.0  1.0  2583.0  2342.0  8.0  0.0  4935.0
BAJAJ-AUTO  1.0  2.0  1400.0  1295.0  2.0  0.0  2700.0
BAJAJFINSV  0.0  2.0  1433.0  1259.0  4.0  0.0  2698.0

In [37]:
# Number of count should be same as in pivot table
new_df.groupby('Symbol').count().head(10)

,Date,Close Price,yr,Return,Return1,binned,Return_Zscore,binned_Zscore
Symbol,,,,,,,,
ADANIPORTS,2823,2823,2823,2823,2823,2807,2823,2823
ASIANPAINT,5062,5062,5062,5062,5062,5034,5062,5062
AXISBANK,5062,5062,5062,5062,5062,4999,5062,5062
BAJAJ-AUTO,2704,2704,2704,2704,2704,2699,2704,2704
BAJAJFINSV,2703,2703,2703,2703,2703,2699,2703,2703
BAJFINANCE,4994,4994,4994,4994,4994,4905,4994,4994
BHARTIARTL,4276,4276,4276,4276,4276,4250,4276,4276
BPCL,5062,5062,5062,5062,5062,5049,5062,5062
BRITANNIA,5061,5061,5061,5061,5061,5042,5061,5061
CIPLA,5062,5062,5062,5062,5062,5040,5062,5062

In [38]:
pivot_z.shape

(50, 7)

In [39]:
# lets save in the excel format
writer1 = pd.ExcelWriter('C:\\Users\\bimalgupta\\Desktop\\OTIS\\Code\\pivot_n_Z.xlsx', engine='xlsxwriter')
pivot_n.to_excel(writer1, sheet_name='pivot_for_return')
pivot_z.to_excel(writer1, sheet_name='pivot_for_Zscore')
writer1.save()

In [41]:
#now create the pivot table for each of the comapny
Compnay_name=[]
r_large_pivot = []
z_large_pivot =[]
for row in Company_name:
    data_as1 = new_df[new_df['Symbol']==row]
    #print('='*40+' nlarge of Each company ' + str(row)+'='*40)
    
    B_data2=data_as1.nlargest(15, "Return")
    
    pivot_Z_large = B_data2.pivot_table(index=['Symbol'],values=['Return_Zscore'],columns=['binned_Zscore'],aggfunc=lambda x: len(x.unique()))
    
    pivot_Z_large.columns = [col[1] for col in pivot_Z_large.columns]
    pivot_Z_large['Total'] = pivot_Z_large[list(pivot_Z_large)].sum(axis=1)
    
    print(pivot_Z_large)
    print('-'*100, '\n')
    
    pivot_n_large= B_data2.pivot_table(index=['Symbol'],values=['Return'],columns=['binned'],aggfunc=lambda x: len(x.unique()))
    pivot_n_large.columns = [col[1] for col in pivot_n_large.columns]
    pivot_n_large['Total_n'] = pivot_n_large[list(pivot_n_large)].sum(axis=1)
    print('\n',pivot_n_large)
    print('='*100, '\n')
    Compnay_name.append(row)
    z_large_pivot.append(pivot_Z_large)  
    r_large_pivot.append(pivot_n_large)

              1    2    3    4    5  Total
Symbol
ADANIPORTS  1.0  1.0  5.0  4.0  4.0   15.0
----------------------------------------------------------------------------------------------------


               4    5    6   20  Total_n
Symbol
ADANIPORTS  9.0  3.0  2.0  1.0     15.0
====================================================================================================

              1    2    3    4  Total
Symbol
ASIANPAINT  3.0  1.0  2.0  9.0   15.0
----------------------------------------------------------------------------------------------------


               3    4   13   14   20  Total_n
Symbol
ASIANPAINT  9.0  3.0  1.0  1.0  1.0     15.0
====================================================================================================

            1    2    3    4    5  Total
Symbol
AXISBANK  1.0  1.0  2.0  3.0  8.0   15.0
----------------------------------------------------------------------------------------------------


             4    5    6    7   20  Total_n
Symbol
AXISBANK  1.0  8.0  4.0  1.0  1.0     15.0
====================================================================================================

              1    2    3    4    5  Total
Symbol
BAJAJ-AUTO  1.0  2.0  6.0  4.0  2.0   15.0
----------------------------------------------------------------------------------------------------


               3    4   12  Total_n
Symbol
BAJAJ-AUTO  8.0  6.0  1.0     15.0
====================================================================================================

              2    3    4    5  Total
Symbol
BAJAJFINSV  2.0  6.0  3.0  4.0   15.0
----------------------------------------------------------------------------------------------------


               3    4    5    6  Total_n
Symbol
BAJAJFINSV  4.0  5.0  5.0  1.0     15.0
====================================================================================================

              1    2     5  Total
Symbol
BAJFINANCE  2.0  2.0  10.0   14.0
----------------------------------------------------------------------------------------------------


                5    6   10   20  Total_n
Symbol
BAJFINANCE  10.0  2.0  1.0  1.0     14.0
====================================================================================================

              1    3    4    5  Total
Symbol
BHARTIARTL  2.0  3.0  6.0  4.0   15.0
----------------------------------------------------------------------------------------------------


               3    4    5    7   16  Total_n
Symbol
BHARTIARTL  1.0  9.0  2.0  2.0  1.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
BPCL    5.0  2.0  2.0  5.0  1.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6   11   12   13   17  Total_n
Symbol
BPCL    6.0  3.0  1.0  1.0  1.0  1.0  2.0     15.0
====================================================================================================

             1    3    4    5  Total
Symbol
BRITANNIA  4.0  1.0  9.0  1.0   15.0
----------------------------------------------------------------------------------------------------


              3    4    5    7    9   16   20  Total_n
Symbol
BRITANNIA  8.0  2.0  1.0  1.0  1.0  1.0  1.0     15.0
====================================================================================================

          1    3    4  Total
Symbol
CIPLA   5.0  7.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           3    4   14   15   17   18  Total_n
Symbol
CIPLA   2.0  8.0  1.0  1.0  1.0  2.0     15.0
====================================================================================================

             2    3    4    5  Total
Symbol
COALINDIA  1.0  6.0  6.0  2.0   15.0
----------------------------------------------------------------------------------------------------


               3    4  Total_n
Symbol
COALINDIA  12.0  3.0     15.0
====================================================================================================

           1    2    3    4    5  Total
Symbol
DRREDDY  3.0  3.0  3.0  4.0  2.0   15.0
----------------------------------------------------------------------------------------------------


             4    5   11   17  Total_n
Symbol
DRREDDY  10.0  2.0  2.0  1.0     15.0
====================================================================================================

             2     5  Total
Symbol
EICHERMOT  3.0  12.0   15.0
----------------------------------------------------------------------------------------------------


               5    6  Total_n
Symbol
EICHERMOT  10.0  5.0     15.0
====================================================================================================

          1    2    3    4    6  Total
Symbol
GAIL    3.0  3.0  3.0  5.0  1.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6    8   10   11   13  Total_n
Symbol
GAIL    8.0  2.0  1.0  1.0  1.0  1.0  1.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
GRASIM  1.0  2.0  4.0  5.0  3.0   15.0
----------------------------------------------------------------------------------------------------


            4    5    6   20  Total_n
Symbol
GRASIM  11.0  2.0  1.0  1.0     15.0
====================================================================================================

           1    2    3    4    5  Total
Symbol
HCLTECH  4.0  3.0  4.0  2.0  2.0   15.0
----------------------------------------------------------------------------------------------------


             5   11   12   17  Total_n
Symbol
HCLTECH  11.0  1.0  1.0  2.0     15.0
====================================================================================================

          1    3    4    5  Total
Symbol
HDFC    3.0  4.0  5.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6   17   19   20  Total_n
Symbol
HDFC    9.0  2.0  1.0  1.0  1.0  1.0     15.0
====================================================================================================

            1    2    3    4    5    6  Total
Symbol
HDFCBANK  1.0  1.0  3.0  7.0  2.0  1.0   15.0
----------------------------------------------------------------------------------------------------


             3    4    5    6    7   20  Total_n
Symbol
HDFCBANK  3.0  8.0  1.0  1.0  1.0  1.0     15.0
====================================================================================================

              1    3    4    5  Total
Symbol
HEROMOTOCO  2.0  3.0  6.0  4.0   15.0
----------------------------------------------------------------------------------------------------


               3    4    5    6   17   18  Total_n
Symbol
HEROMOTOCO  6.0  3.0  3.0  1.0  1.0  1.0     15.0
====================================================================================================

            1    2    3    4    5  Total
Symbol
HINDALCO  2.0  2.0  4.0  5.0  2.0   15.0
----------------------------------------------------------------------------------------------------


             4    5    7    9   20  Total_n
Symbol
HINDALCO  9.0  3.0  1.0  1.0  1.0     15.0
====================================================================================================

              1    2    3     4    5  Total
Symbol
HINDUNILVR  2.0  1.0  1.0  10.0  1.0   15.0
----------------------------------------------------------------------------------------------------


               3    4    5   19   20  Total_n
Symbol
HINDUNILVR  8.0  3.0  2.0  1.0  1.0     15.0
====================================================================================================

              2    3    4  Total
Symbol
IBULHSGFIN  2.0  4.0  9.0   15.0
----------------------------------------------------------------------------------------------------


               3    4    5  Total_n
Symbol
IBULHSGFIN  7.0  7.0  1.0     15.0
====================================================================================================

             1    2    3    4    5  Total
Symbol
ICICIBANK  1.0  3.0  2.0  5.0  4.0   15.0
----------------------------------------------------------------------------------------------------


              4    5    6   20  Total_n
Symbol
ICICIBANK  4.0  9.0  1.0  1.0     15.0
====================================================================================================

              1    2    3    4    5  Total
Symbol
INDUSINDBK  1.0  2.0  3.0  3.0  6.0   15.0
----------------------------------------------------------------------------------------------------


               4     5   12  Total_n
Symbol
INDUSINDBK  2.0  12.0  1.0     15.0
====================================================================================================

            3    4    5  Total
Symbol
INFRATEL  7.0  7.0  1.0   15.0
----------------------------------------------------------------------------------------------------


              3    4  Total_n
Symbol
INFRATEL  12.0  3.0     15.0
====================================================================================================

          1    2    3    4  Total
Symbol
INFY    9.0  2.0  1.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           5    6    7   11   12   16   17   20  Total_n
Symbol
INFY    4.0  1.0  1.0  2.0  2.0  2.0  2.0  1.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
IOC     6.0  1.0  2.0  3.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6    9   11   12   16   17  Total_n
Symbol
IOC     2.0  6.0  1.0  1.0  1.0  1.0  1.0  2.0     15.0
====================================================================================================

          1    3    4  Total
Symbol
ITC     3.0  5.0  7.0   15.0
----------------------------------------------------------------------------------------------------


           3    4   12   17   20  Total_n
Symbol
ITC     6.0  6.0  1.0  1.0  1.0     15.0
====================================================================================================

            1    3    4    5  Total
Symbol
JSWSTEEL  1.0  5.0  6.0  3.0   15.0
----------------------------------------------------------------------------------------------------


             4    5    6    8   20  Total_n
Symbol
JSWSTEEL  9.0  3.0  1.0  1.0  1.0     15.0
====================================================================================================

             1    2    3    4    5  Total
Symbol
KOTAKBANK  5.0  1.0  1.0  2.0  6.0   15.0
----------------------------------------------------------------------------------------------------


              5    6   14   16   17   18  Total_n
Symbol
KOTAKBANK  5.0  5.0  1.0  1.0  2.0  1.0     15.0
====================================================================================================

          1    3    4    5  Total
Symbol
LT      4.0  1.0  9.0  1.0   15.0
----------------------------------------------------------------------------------------------------


           3    4    6   12   17  Total_n
Symbol
LT      2.0  8.0  1.0  2.0  2.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
M&M     3.0  2.0  5.0  2.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6   11   12  Total_n
Symbol
M&M     8.0  2.0  2.0  2.0  1.0     15.0
====================================================================================================

          2    3    4    5  Total
Symbol
MARUTI  1.0  6.0  5.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           3    4  Total_n
Symbol
MARUTI  8.0  7.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
NTPC    1.0  3.0  3.0  5.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           3    4    7  Total_n
Symbol
NTPC    8.0  6.0  1.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
ONGC    3.0  2.0  3.0  4.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6   12   20  Total_n
Symbol
ONGC    8.0  3.0  1.0  2.0  1.0     15.0
====================================================================================================

             2    3    4    5  Total
Symbol
POWERGRID  5.0  2.0  3.0  5.0   15.0
----------------------------------------------------------------------------------------------------


              3    4    5  Total_n
Symbol
POWERGRID  5.0  8.0  2.0     15.0
====================================================================================================

            1    2    3    4    5  Total
Symbol
RELIANCE  2.0  3.0  3.0  5.0  2.0   15.0
----------------------------------------------------------------------------------------------------


             3    4    5    6    7   17  Total_n
Symbol
RELIANCE  2.0  7.0  2.0  1.0  1.0  2.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
SBIN    1.0  2.0  4.0  6.0  2.0   15.0
----------------------------------------------------------------------------------------------------


           3    4    5    6    7   20  Total_n
Symbol
SBIN    3.0  8.0  1.0  1.0  1.0  1.0     15.0
====================================================================================================

             1    3    4    5  Total
Symbol
SUNPHARMA  6.0  5.0  3.0  1.0   15.0
----------------------------------------------------------------------------------------------------


              4    5    6   15   16   20  Total_n
Symbol
SUNPHARMA  7.0  1.0  1.0  2.0  3.0  1.0     15.0
====================================================================================================

              1    2    3    4    5  Total
Symbol
TATAMOTORS  1.0  4.0  6.0  3.0  1.0   15.0
----------------------------------------------------------------------------------------------------


               4    5    7   20  Total_n
Symbol
TATAMOTORS  9.0  4.0  1.0  1.0     15.0
====================================================================================================

             1    2    3    4    5  Total
Symbol
TATASTEEL  1.0  5.0  3.0  5.0  1.0   15.0
----------------------------------------------------------------------------------------------------


              4    5    6    7   13  Total_n
Symbol
TATASTEEL  8.0  4.0  1.0  1.0  1.0     15.0
====================================================================================================

          1    3    4    5  Total
Symbol
TCS     3.0  6.0  4.0  2.0   15.0
----------------------------------------------------------------------------------------------------


           3    4    5   16   17  Total_n
Symbol
TCS     7.0  3.0  2.0  1.0  2.0     15.0
====================================================================================================

          1    3    4    5  Total
Symbol
TECHM   1.0  4.0  7.0  3.0   15.0
----------------------------------------------------------------------------------------------------


            4    5    7   20  Total_n
Symbol
TECHM   11.0  2.0  1.0  1.0     15.0
====================================================================================================

          1    4    5  Total
Symbol
TITAN   1.0  5.0  9.0   15.0
----------------------------------------------------------------------------------------------------


            5    6    7   20  Total_n
Symbol
TITAN   11.0  2.0  1.0  1.0     15.0
====================================================================================================

              3    4    5  Total
Symbol
ULTRACEMCO  3.0  9.0  3.0   15.0
----------------------------------------------------------------------------------------------------


               3    4  Total_n
Symbol
ULTRACEMCO  9.0  6.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
UPL     2.0  1.0  2.0  7.0  3.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6    7   16   20  Total_n
Symbol
UPL     6.0  5.0  1.0  1.0  1.0  1.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
VEDL    2.0  1.0  2.0  9.0  1.0   15.0
----------------------------------------------------------------------------------------------------


           4    5    6   17   20  Total_n
Symbol
VEDL    3.0  8.0  2.0  1.0  1.0     15.0
====================================================================================================

          1    3    4    5  Total
Symbol
WIPRO   7.0  4.0  3.0  1.0   15.0
----------------------------------------------------------------------------------------------------


           5    6   10   14   16   17   18   19  Total_n
Symbol
WIPRO   7.0  1.0  1.0  1.0  1.0  2.0  1.0  1.0     15.0
====================================================================================================

           1    2    3    4    5  Total
Symbol
YESBANK  1.0  2.0  3.0  4.0  5.0   15.0
----------------------------------------------------------------------------------------------------


            4    5    6    7    8   20  Total_n
Symbol
YESBANK  6.0  1.0  4.0  2.0  1.0  1.0     15.0
====================================================================================================

          1    2    3    4    5  Total
Symbol
ZEEL    3.0  3.0  4.0  4.0  1.0   15.0
----------------------------------------------------------------------------------------------------


           5    6    7   16   19   20  Total_n
Symbol
ZEEL    8.0  2.0  2.0  1.0  1.0  1.0     15.0
====================================================================================================

In [42]:
writer3 = pd.ExcelWriter('C:\\Users\\bimalgupta\\Desktop\\OTIS\\Code\\n_large_of each_comapy.xlsx', engine='xlsxwriter')
writer4 = pd.ExcelWriter('C:\\Users\\bimalgupta\\Desktop\\OTIS\\Code\\n_large_zscore_each_company.xlsx', engine='xlsxwriter')

for name,df1,df2 in zip(Compnay_name,r_large_pivot,z_large_pivot):
    
    df1.to_excel(writer3, sheet_name='pivot of n large '+ str(name))
    df2.to_excel(writer4, sheet_name='pivotof_n_Zscore '+ str(name))

writer3.save()
writer4.close()